
<div>
    <h1>Vin</h1>
    <div class="row"> 

        <?php foreach ($winess as $post) : ?>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><?= $this->escapeHtml($post->brand) ?></h5>
                        <p class="text-muted"><?= $this->escapeHtml($post->model) ?></p>
                        <img src="<?= $this->escapeHtml($post->photo) ?>" width="50px">
                        <a href="" class="btn btn-primary"> voir plus </a>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>

    </div>
</div>



